.sidebar {
  width: 300px;
  min-height: 100vh;
  transition: all 0.3s ease-in-out;
  position: fixed;
  top: 56px;
  left: 0;
  z-index: 1040;
  background-color: #fff;
  height: calc(100vh - 56px); /* 100% altura de viewport menos navbar */
  overflow-y: auto; /* Activa el scroll vertical */
  scrollbar-width: thin; /* para Firefox */
}

.sidebar.collapsed {
  transform: translateX(-100%);
}

.main-content {
  margin-left: 300px;
  transition: margin-left 0.3s ease-in-out;
  margin-top: 56px;
}

.main-content.expanded {
  margin-left: 0;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1050;
  height: 56px; 
}

.sidebar::-webkit-scrollbar {
  width: 8px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.sidebar.collapsed {
  transform: translateX(-100%);
}
